<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Student:</b>
  <%= @student[0].name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @teacher[0].name %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
